<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>History</title>
    <link rel='stylesheet' href='/assets/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/assets/css/history.css' />
  </head>
  <body>
    <div class='wrapper rounded'>
      <nav class='navbar navbar-expand-lg d-lg-flex align-items-lg-start'>
        <a class='navbar-brand' href='#'>History
          <p class='text-muted pl-1'>Welcome to History</p>
        </a>
      </nav>
      <div class='d-flex justify-content-between align-items-center mt-3'>
        <button class='btn mr-2' type='button' id='exportButton'>Export</button>
        <div class='input-group form-control-sm'>
          <input type='text' class='form-control' placeholder='Search' />
        </div>
      </div>
      <div class='table-responsive mt-3'>
        <table class='table table-borderless'>
          <thead>
            <tr>
              <th scope='col'>Activity</th>
              <th scope='col'>User Scanned</th>
              <th scope='col'>Date</th>
              <th scope='col'>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' /> Jamu 1</td>
              <td><p>example1@gmail.com</p></td>
              <td>12 Jul 2020, 12:30 PM</td>
              <td class='align-items-center'>Rp. 50.000</td>
            </tr>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' /> Jamu 2</td>
              <td><p>example2@gmail.com</p></td>
              <td>11 Jul 2020, 2:00 PM</td>
              <td class='align-items-center'>Rp. 75.000</td>
            </tr>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' /> Jamu 3</td>
              <td><p>example3@gmail.com</p></td>
              <td>10 Jul 2020, 8:30 PM</td>
              <td class='align-items-center'>Rp. 30.000</td>
            </tr>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' /> Jamu 4</td>
              <td><p>example4@gmail.com</p></td>
              <td>12 May 2020, 4:30 PM</td>
              <td class='align-items-center'>Rp. 40.000</td>
            </tr>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' />Jamu 5</td>
              <td><p>example5@gmail.com</p></td>
              <td>11 May 2020, 5:30 PM</td>
              <td class='align-items-center'>Rp. 60.000</td>
            </tr>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' /> Jamu 6</td>
              <td><p>example4@gmail.com</p></td>
              <td>10 May 2020, 01:30 PM</td>
              <td class='align-items-center'>Rp. 100.000</td>
            </tr>
            <tr>
              <td scope='row'><img src='product.jpg' alt='' /> Jamu 7</td>
              <td><p>example4@gmail.com</p></td>
              <td>09 May 2020, 01:30 PM</td>
              <td class='align-items-center'>Rp. 25.000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='d-flex justify-content-between align-items-center results'>
        <span class='pl-md-3'>Showing<b> 1-7 0f 200 </b> trasactions</span>
        <div class='pt-3'>
          <nav aria-label='Page navigation example'>
            <ul class='pagination'>
              <li class='page-item disabled'>
                <a class='page-link' href='#' aria-label='Previous'>
                  <span aria-hidden='true'>&lt;</span>
                </a>
              </li>
              <li class='page-item'>
                <a class='page-link' href='#' aria-label='Next'>
                  <span aria-hidden='true'>&gt;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <script src='/assets/js/bootstrap.bundle.min.js'></script>
  </body>
</html>