<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Bananalem0n">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/icons/bootstrap-icon/bootstrap-icons.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/amati-logo.png">
  <title>AMATI Indonesia Approval WebApp</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="/assets/css/signin.css" rel="stylesheet">
</head>

<body class="text-center" style="background-color: rgb(247, 244, 244);">

  <main class="form-signin">
    <form action="" method="post">
      <img class="mb-4" src="/assets/amati-logo.png" alt="AMATI Indonesia Logo" width="120" height="120">
      <div class="form-floating">
        <input type="email" required class="form-control" name="email" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" required class="form-control" name="password" id="floatingPassword"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-5">
      </div>
      <button class="w-100 btn btn-lg amati-green text-white" type="submit">Sign in</button>
    </form>
    <hr>
    <div class="provider"><a href="/register">
        <button class="w-100 btn btn-lg border-success text-secondary provider" type="button">
          Register
        </button>
      </a>
    </div>
  </main>
</body>

</html>