<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code with Logo</title>
</head>
<body>

<!-- Replace 'YOUR_SERVER_URL' with the actual URL where your NestJS server is running -->
{{!-- <img src="{{image}}" alt="QR Code with Logo"> --}}

<p>{{image}}</p>
</body>
</html>
